@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito', sans-serif;
    scrollbar-width: none;
    transition: all .3s ease-in-out;
  }

  textarea::-webkit-resizer {
    background-color: red;
    border: 2px solid black;
    width: 10px;
    height: 10px;
    bottom: 5px;
    right: 5px;
  }

  .card-hold {
    cursor: pointer;
  }

  .card-img {
    height: 100%;
  }

  .card-detail {
    height: auto;
  }

  .card-text {
    backdrop-filter: blur(6px);
    background-color: #0b02233d;
    height: auto;
  }

  .card-hold:hover .card-img {
    height: 80px;
  }

  .card-hold:hover .card-detail {
    max-height: 67%;
    min-height: 67%;
    width: 100%;
    backdrop-filter: blur(4px);
    background-color: #0b02237b;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    padding: 0;
  }

  .view {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0 0 8px 0;
    opacity: 0;
  }

  .card-icon {
    opacity: 0;
  }

  .card-hold:hover .card-icon {
    opacity: 1;
  }

  .card-hold:hover .view {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 8px 0 8px 0;
    opacity: 1;
  }

  .card-hold:hover .card-text {
    text-align: left;
    font-size: smaller;
  }


*::-webkit-scrollbar{
  display: none;
}

body{
  overflow: hidden;
}

.bg-blur {
  backdrop-filter: blur(6px);
}

.card-blur {
  backdrop-filter: blur(4px);
  background-color: #0b02237b;
}


.css-1e4p8lz {
  
  --skeleton-start-color: #121212 !important;
  --skeleton-end-color: #3b383892 !important;
  background: #2d2929 !important;
  border-color: var(--skeleton-end-color);
  opacity: 0.7;
  border-radius: 8px;
  -webkit-animation: 0.8s linear infinite alternate animation-14pkoxc;
  animation: 0.8s linear infinite alternate animation-14pkoxc;
  box-shadow: var(--chakra-shadows-none);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: default;
  color: var(--chakra-colors-transparent);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: var(--chakra-space-2);
}
