@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('./globals.sass'); */
* {
    font-family: 'Nunito', sans-serif;
    scrollbar-width: none;
    transition: .4s;
  }

*::-webkit-scrollbar{
  display: none;
}

body{
  overflow: hidden;
}

.bg-blur {
  backdrop-filter: blur(6px);
}


.css-1e4p8lz {
  
  --skeleton-start-color: #121212 !important;
  --skeleton-end-color: #3b383892 !important;
  background: #2d2929 !important;
  border-color: var(--skeleton-end-color);
  opacity: 0.7;
  border-radius: 8px;
  -webkit-animation: 0.8s linear infinite alternate animation-14pkoxc;
  animation: 0.8s linear infinite alternate animation-14pkoxc;
  box-shadow: var(--chakra-shadows-none);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: default;
  color: var(--chakra-colors-transparent);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: var(--chakra-space-2);
}
